.mylist_wrapper{
    width: 100vw;
    background-color: #222222;  
    height: 100vh;
}

.mylist{
    color: white;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    margin:150px 0 50px 0;
}

.mylistsItem_container{
    margin-left: 50px;
    width: 350px;
    height: 200px;
    border: 1px solid black;
    overflow: hidden;
    transition: all 300ms;
    color: white;
    position: relative;
}

.mylistsItem_container img{
    width: 350px;
    cursor:pointer;
    transition: all 300ms;
}

.movie_head{
    width: 100%;
    color: white;
    position: absolute;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
}

@media(max-width:768px){
    .mylistsItem_container{
        width: 300px;
        height: 150px; 
    }
    
    .mylistsItem_container img{
        width: 300px;
    }
}