.me_background{
    width: 100vw;
    background-image: url('https://wallpaperaccess.com/full/1429585.jpg');
    background-repeat: no-repeat;   
    height: 100vh;
    overflow: hidden;
}

.me_head{
    color: white;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    margin-top: 7%;
}

.me_container{
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #222222;
    margin-top: 50px;
    padding: 5%;
    border-radius: 10px;
    box-shadow: 1px 1px 70px 3px #353434;
    margin-bottom: 50px;
}

.me_container img{
    width: 100px;
    margin-bottom: 5px;
}

.me_info{
    width: 100%;
}

.me_info h3{
    display: flex;
    margin: 20px 0;
    font-size: 18px;
    color:white;
    font-weight: 600;
    width: 100%;
}

.me_info h3 span{
    color:gray;
}

.me_button{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.reset_pw{
    background-color: #E50914;
    color: white;
    border: 1px solid #E50914;
    font-size: 18px;
    padding: 15px;
    font-weight: 600;
    border-radius: 5px;
    margin-top: 40px;
}

.reset_pw:hover{
    cursor: pointer;
    background-color: #fa0c18;
}

@media(max-width:1200px){
    .me_container{
        width: 50%;
    }
}

@media(max-width:992px){
    .me_head{
        font-size: 30px;
        margin-top: 10%;
    }

    .me_container{
        width: 60%;
        transform: scale(0.9);
    }

    .reset_pw{
        background-color: #E50914;
        color: white;
        border: 1px solid #E50914;
        font-size: 15px;
        padding: 15px;
        font-weight: 600;
        border-radius: 5px;
        margin-top: 40px;
    }
}

@media(max-width:768px){
    .me_background{
        height: 80vh;
    }

    .me_head{
        font-size: 20px;
        margin-bottom: -20px;
        margin-top: 15%;
    }

    .me_container{
        width: 90%;
        transform: scale(0.9);
    }
}

@media(max-width:600px){
    .me_container{
        width: 99%;
        transform: scale(0.9);
    }
}