.navbar_container{
    width: 100vw;
    min-height: 7%;
    padding-top: 1%;
    background-color: transparent;
    position: fixed;
    top:0;
    z-index: 900;
    display: flex;
    margin-top: -35px;
    color:white;
    font-weight: 700;
}

/* if scrolled*/
.scrolled{
    background-color: rgba(0,0,0,0.7);
}

.navbar_logo{
    display: flex;
    align-items: center;
}

.navbar_left{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar_container a{
    transition: all 300ms;
}

.navbar_container a:hover,
.active_link{
    color:#E50914;
}

.navbar_container a{
    font-size: 20px;
}

.navbar_options{
    margin-left:auto;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 5%;
}

.search_icon,
.profile_icon{
    margin-top: 5px;
    transform: scale(1.2);
}

@media(max-width:992px){
    .navbar_container{
        margin-top: -20px;
    }

    .navbar_left a{
        font-size: 18px;
    }

    .search_icon,
.profile_icon{
    transform: scale(1.1);
}
}

@media(max-width:768px){
    .navbar_container{
        margin-top: -5px;
    }

    .navbar_left{
        width: 80%;
    }

    .navbar_left a{
        font-size: 12px;
    }

    .navbar_options{
        width: 20%;
    }

    .search_icon,
    .profile_icon{
        transform: scale(0.7);
    }
}

